* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
.container {
  width: 1240px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px grey;
}

.header {
  height: 34px;
  background-color: #2b3743;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-logo {
  text-decoration: none;
  font-size: 0;
  outline: none;
}

.main {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 1;
}

.person-name-block {
  height: 125px;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  margin: 0;
  background-color: #548ca8;
  z-index: 1;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.person-name-block .wrapper {
  position: relative;
  margin-left: 65px;
}

.person-name-block h1 {
  font-family: "Cookie";
  font-size: 74px;
  color: #fff;
  text-shadow: 5px 3px 4px rgba(0, 0, 0, 1);
  margin: 0;
}

.person-name-block h2 {
  font-family: "Cookie";
  font-size: 31px;
  padding-left: 38px;
  text-shadow: 5px 3px 4px rgba(0, 0, 0, 1);
  color: #fff;
  margin: 0;
}

.person-logo {
  width: 240px;
  height: 240px;
  position: absolute;
  top: -71px;
  right: 150px;
  border-radius: 50%;
  border: 5px solid #eeeeee;
  box-shadow: 5px 7px 5px rgb(0, 0, 0, 0.6);
}

.left-container {
  width: 33%;
  background-color: #2b3743;
}

.right-container {
  width: 67%;
  background-color: #eeeeee;
}

.left-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-block {
  margin-top: 270px;
}

.contact-item {
  text-decoration: none;
  color: #fff;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-bottom: 15px;
}

.contact-item img {
  background-color: transparent;
  padding-right: 20px;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.width-50 {
  width: 50%;
}

.line {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.left-blocks h3 {
  margin: 0;
  color: #fff;
  font-size: 32px;
}

.skills {
  color: #fff;
  padding: 0;
  padding-left: 30px;
}

.skills li {
  font-size: 18px;
}

.skills li:not(:last-child) {
  padding-bottom: 15px;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.pb-30 {
  padding-bottom: 30px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt-270 {
  margin-top: 270px;
}

.right-block {
  width: 85%;
}

.right-block h3 {
  margin: 0;
  color: #000;
  font-size: 32px;
}

.right-block p {
  font-size: 18px;
  margin-bottom: 40px;
}

.project-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #2b3743;
  border-radius: 20px;
}

.project-card img {
  width: 100%;
}

.project-card h5 {
  font-size: 16px;
  margin: 5px;
}

.project-card h6 {
  font-size: 14px;
  margin: 5px;
}

.flex-container {
  display: flex;
  justify-content: start;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #2b3743;
  padding: 10px;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
  }

  .project-card {
    width: 45%;
    margin: 5px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .width-50 {
    width: 70%;
  }
}

@media (max-width: 811px) {
  .container {
    width: 100%;
  }

  .contact-item img {
    padding-right: 10px;
  }

  .person-name-block .wrapper {
    position: relative;
    margin-left: 32px;
  }

  .person-name-block h1 {
    font-size: 65px;
  }

  .person-name-block h2 {
    font-size: 27px;
    padding-left: 10px;
  }

  .person-logo {
    width: 140px;
    height: 140px;
    top: -18px;
    right: 70px;
  }

  .project-card {
    width: 45%;
    margin: 5px;
  }

  .left-container {
    width: 40%;
    background-color: #2b3743;
  }

  .right-container {
    width: 60%;
    background-color: #eeeeee;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .width-50 {
    width: 90%;
  }
}

@media (max-width: 555px) {
  .main {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 1;
  }

  .contacts-block {
    margin-top: 200px;
  }

  .mt-270 {
    margin-top: 50px;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }

  .person-name-block {
    height: 85px;
    width: 100%;
    top: 75px;
  }

  .person-logo {
    width: 95px;
    height: 95px;
    top: -14px;
    right: 14px;
  }

  .person-name-block .wrapper {
    position: relative;
    margin-left: 11px;
  }

  .person-name-block h1 {
    font-size: 40px;
  }

  .person-name-block h2 {
    font-size: 21px;
    padding-left: 0px;
  }

  .width-50 {
    width: 50%;
  }

  .line {
    width: 90%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .project-card {
    width: 90%;
    margin: 5px;
  }
}

@media (min-width: 390px) {
  .person-name-block .wrapper {
    position: relative;
    margin-left: 45px;
  }

  .person-name-block h2 {
    font-size: 22px;
    padding-left: 10px;
  }
}
