* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1240px;
    margin: 0 auto;
}

.header {
    height: 34px;
    background-color: #2b3743;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-logo {
    text-decoration: none;
    font-size: 0;
    outline: none;
}

.main {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: -1;
}

.person-name-block {
    height: 125px;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    margin: 0;
    background-color: #548ca8;
    z-index: 1;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.person-name-block .wrapper {
    position: relative;
    margin-left: 65px;
}

.person-name-block h1{
    font-family: 'Cookie';
    font-size: 74px;
    color: #fff;
    text-shadow: 5px 3px 4px rgba(0,0,0, 1);
    margin: 0;
}

.person-name-block h2 {
    font-family: 'Cookie';
    font-size: 31px;
    padding-left: 38px;
    text-shadow: 5px 3px 4px rgba(0,0,0, 1);
    color: #fff;
    margin: 0;
}

.person-logo {
    width: 240px;
    height: 240px;
    position: absolute;
    top: -71px;
    right: 150px;
    border-radius: 50%;
    border: 5px solid #eeeeee;
    box-shadow: 5px 7px 5px rgb(0,0,0, 0.6);
}

.left-container {
    width: 33%;
    background-color: #2b3743;
}

.right-container {
    width: 67%;
    background-color: #eeeeee;
}

.left-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-block {
    margin-top: 270px;
}

.contact-item {
    text-decoration: none;
    color: #fff;
    font-family: Roboto, sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item:not(:last-child){
    margin-bottom: 15px;
}

.contact-item img {
    background-color: transparent;
    padding-right: 20px;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.width-50 {
    width: 50%;
}

.line {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.left-blocks h3 {
    margin: 0;
    color: #fff;
    font-size: 32px;
}

.skills {
    color: #fff;
    padding: 0;
    padding-left: 30px;
}

.skills li {
    font-size: 18px;
}

.skills li:not(:last-child) {
    padding-bottom: 15px;
}

.list-style-none {
    list-style-type: none;
    padding-left: 0;
}

.pb-30 {
    padding-bottom: 30px;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mt-270 {
    margin-top: 270px;
}

.right-block {
    width: 85%;
}

.right-block h3 {
    margin: 0;
    color: #000;
    font-size: 32px;
}

.right-block p {
    font-size: 18px;
    margin-bottom: 40px;
}